<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand">Recipe Book</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="#"
                    (click)="onClickHeader('Recipe')">Recipes</a></li>
            <li class="nav-item"><a class="nav-link" href="#"
                    (click)="onClickHeader('Shopping')">Shopping List</a></li>
        </ul>
        <ul class="nav navbar-nav dropdown navbar-right">
            <button appDropdownDirective class="nav-link dropdown-toggle" href="#" id="navbarDropdown">
                Manage<span class="caret"></span>
            </button>
            <div appDropdownDirective class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Save</a>
                <a class="dropdown-item" href="#">Fetch</a>
            </div>
        </ul>
    </div>

</nav>