<div class="row">
    <div class="col-md-12">
        <img src="{{recipeSelected.imagePath}}" alt="{{recipeSelected.name}}"
            class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>{{recipeSelected.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="dropdown">
            <button appDropdownDirective class="btn btn-secondary dropdown-toggle" type="button">
                Dropdown button
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Add Ingredient</a></li>
                <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
                <li><a class="dropdown-item" href="#">Remove Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">{{recipeSelected.description}}</div>
</div>
<div class="row">
    <div class="col-md-12">Ingredients</div>
</div>